ASSIGNMENT : ADVANCE DATA STRUCTURES IN PYTHON

Q1 Write a code to reverse a string ?

In [ ]:
y = "yash shakdwipee"

In [ ]:
type(y)

str

In [ ]:
y[::-1]

'eepiwdkahs hsay'

In [ ]:
n ="yash naresh lucky kunal"

In [ ]:
type(n)

str

In [ ]:
n[::-1]

'lanuk ykcul hseran hsay'

In [ ]:
#as provided in the above examples, we can easily reverse a string by using the syntax[::-1]

Q2  Write a code to count the number of vowels in a string ?

In [ ]:
def count_vowels(string):
    vowels = 'aeiouAEIOU'
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count

In [ ]:
count_vowels("yashshakdwipee")

5

In [ ]:
count_vowels("yash shakdwipee loves to play cricket")

11

In [ ]:
count_vowels ("TO REMAIN FIT ,we need to eat right AND DO EXERCISE")

18

Q3  Write a code to check if a given string is a palindrome or not ?

In [ ]:
def is_palindrome(s):
    # Remove spaces and convert to lowercase for a case-insensitive comparison
    s = s.replace(" ", "").lower()
    # Check if the string is equal to its reverse
    return s == s[::-1]

In [ ]:
string = "A man a plan a canal Panama"
if is_palindrome(string):
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

The string is a palindrome.

In [ ]:
string = "yash loves to play cricket"
if is_palindrome(string):
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

The string is not a palindrome.

In [ ]:
string ="y"
if is_palindrome(string):
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

The string is a palindrome.

In [ ]:
#We can follow the below steps to identify a palindrome:

#Depending on the case sensitivity, either turn all the characters to lowercase or uppercase or keep them as it is.
#Now, Compare the first and the last character. If they are the same move to the second and second last and so on.
#If all the pairs of characters match, then it is a palindrome, otherwise not.
#A palindrome string has a symmetric structure which means that the character in the first half of the string are the same as in the rear half but in reverse order.
#Any string of length 1 is always a palindrome.

Q4  Write a code to check if two given strings are anagrams of each other ?

In [ ]:
def are_anagrams(str1, str2):
    # Convert both strings to lowercase to make the check case-insensitive
    str1 = str1.lower()
    str2 = str2.lower()

    # Sort the characters of both strings and compare
    return sorted(str1) == sorted(str2)

In [ ]:
str1 = "Listen"
str2 = "Silent"
if are_anagrams(str1, str2):
    print(f'"{str1}" and "{str2}" are anagrams.')
else:
    print(f'"{str1}" and "{str2}" are not anagrams.')

"Listen" and "Silent" are anagrams.

In [ ]:
str1 = "YASH"
str2 = "shakdwipee"
if are_anagrams(str1, str2):
    print(f'"{str1}" and "{str2}" are anagrams.')
else:
    print(f'"{str1}" and "{str2}" are not anagrams.')

"YASH" and "shakdwipee" are not anagrams.

In [ ]:
#This code converts both strings to lowercase, sorts their characters, and then compares the sorted versions.
# If they are identical, the strings are anagrams of each other.

Q5 Write a code to find all occurrences of a given substring within another string ?

In [ ]:
def find_all_occurrences(main_string, sub_string):
    start = 0
    indices = []
    while True:
        start = main_string.find(sub_string, start)
        if start == -1:
            break
        indices.append(start)
        start += 1  # Move to the next character after the current match
    return indices

In [ ]:
main_string = "GeeksforGeeks is best for Geeks"
sub_string = "Geeks"
print("The start indices of the substrings are:", find_all_occurrences(main_string, sub_string))

The start indices of the substrings are: [0, 8, 26]

In [ ]:
#in the above example ,the position of "g" indices are executed

In [ ]:
main_string = "yash plays cricket, aswell as yash also plays football and yash is good at video games"
sub_string = "yash"
print("The start indices of the substrings are:", find_all_occurrences(main_string, sub_string))

The start indices of the substrings are: [0, 30, 59]

In [ ]:
#in the above example the positions of "y" indices are executed

Q6 Write a code to perform basic string compression using the counts of repeated characters ?

In [ ]:
def compress_string(s):
    compressed = []
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1

    compressed.append(s[-1] + str(count))
    return ''.join(compressed)

In [ ]:
input_string = "aabcccccaaa"
compressed_string = compress_string(input_string)
print(compressed_string)

a2b1c5a3

In [ ]:
input_string = "yyyyaaaassshhhh ssshhhhaaakkkddddwwwiiipeee"
compressed_string = compress_string(input_string)
print(compressed_string)

y4a4s3h4 1s3h4a3k3d4w3i3p1e3

Q7  Write a code to determine if a string has all unique characters ?

In [ ]:
def has_unique_characters(s):
    char_set = set()

    for char in s:
        if char in char_set:
            return False
        char_set.add(char)

    return True

In [ ]:
input_string = "abcdefg"
print(has_unique_characters(input_string))

True

In [ ]:
input_string = "yash shakdwipee"
print(has_unique_characters(input_string))

False

Q8 Write a code to convert a given string to uppercase or lowercase ?

In [ ]:
input_string = "Hello, ajay sir!"
uppercase_string = input_string.upper()
print(uppercase_string)

HELLO, AJAY SIR!

In [ ]:
input_string = "Hello, AJAY SIR!"
lowercase_string = input_string.lower()
print(lowercase_string)

hello, ajay sir!

Q9  Write a code to count the number of words in a string ?

In [ ]:
def count_words(string):
    words = string.split()
    return len(words)

In [ ]:
input_string = "Hello pwSKILLS you guys are the best."
word_count = count_words(input_string)
print(f"The number of words in the string is: {word_count}")

The number of words in the string is: 7

In [ ]:
input_string = "you guys made learning so simpLe ajay sir the GOAT "
word_count = count_words(input_string)
print(f"The number of words in the string is: {word_count}")

The number of words in the string is: 10

Q10  Write a code to concatenate two strings without using the + operator

In [ ]:
#In Python, string concatenation is the process of joining two or more strings into a single string.
 #This can be achieved using various methods, each suitable for different scenarios.
 #The + operator is the most straightforward way to concatenate strings. It's used to combine strings directly:

 #but in this case we are doing the concatenation of two strings without + operator

In [ ]:
#Using the .join() Method
#he .join() method is efficient for concatenating multiple strings from an iterable like a list:

words = ["yash", "plays", "online", "grand theft auto" " 5"]
sentence = " ".join(words)
print(sentence)

yash plays online grand theft auto 5

In [ ]:
#Using f-Strings
#F-strings provide a concise and readable way to embed expressions inside string literals:

name = "yash"
age = 23
introduction = f"My name is {name} and I am {age} years old."
print(introduction)

My name is yash and I am 23 years old.

In [ ]:
#Using the .format() Method
#The .format() method provides a versatile way of formatting strings:

first_name = "yash"
last_name = "shakdwipee"
full_name = "{} {}".format(first_name, last_name)
print(full_name)

yash shakdwipee

Q11 Write a code to remove all occurrences of a specific element from a list?

In [ ]:
def remove_all_occurrences(lst, element):
    return [item for item in lst if item != element]

# Example usage
my_list = [1, 2, 3, 4, 2, 2, 5]
element_to_remove = 2
new_list = remove_all_occurrences(my_list, element_to_remove)
print("Original list:", my_list)
print("List after removing all occurrences of", element_to_remove, ":", new_list)

Original list: [1, 2, 3, 4, 2, 2, 5]
List after removing all occurrences of 2 : [1, 3, 4, 5]

In [ ]:
def remove_all_occurrences(lst, element):
    return [item for item in lst if item != element]

yash = ["cricket", "blue", "cricket", "lucky", "cricket", "white", "mango"]
element_to_remove = "cricket"
new_list = remove_all_occurrences(yash, element_to_remove)
print("Original list:", yash)
print("List after removing all occurrences of", element_to_remove, ":", new_list)

Original list: ['cricket', 'blue', 'cricket', 'lucky', 'cricket', 'white', 'mango']
List after removing all occurrences of cricket : ['blue', 'lucky', 'white', 'mango']

Q12 Implement a code to find the second largest number in a given list of integers ?

In [ ]:
def find_second_largest(numbers):
    first, second = float('-inf'), float('-inf')
    for number in numbers:
        if number > first:
            first, second = number, first
        elif first > number > second:
            second = number
    return second

In [ ]:
numbers = [1, 201, 44, 459, 19]
print("Second largest number is:", find_second_largest(numbers))

Second largest number is: 201

In [ ]:
numbers = [1324, 2014, 3244, 21459, 4519]
print("Second largest number is:", find_second_largest(numbers))

Second largest number is: 4519

Q13 Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values?

In [ ]:
def count_occurrences(lst):
    count_dict = {}
    for element in lst:
        if element in count_dict:
            count_dict[element] += 1
        else:
            count_dict[element] = 1
    return count_dict

In [ ]:
my_list = [1, 2, 3, 1, 2, 1, 3, 4, 5, 4, 2, 2]
result = count_occurrences(my_list)
print(result)

{1: 3, 2: 4, 3: 2, 4: 2, 5: 1}

In [ ]:
yash3 = [3, 2, 3, 3, 2, 3, 3, 4, 2, 4, 2, 2]
result = count_occurrences(yash3)
print(result)

{3: 5, 2: 5, 4: 2}

Q14 Write a code to reverse a list in-place without using any built-in reverse function ?

In [ ]:
def reverse_list(lst):
    left, right = 0, len(lst) - 1
    while left < right:
        # Swap the elements at the left and right indices
        lst[left], lst[right] = lst[right], lst[left]
        # Move the pointers towards the center
        left += 1
        right -= 1

In [ ]:
yash = [1, 2, 3, 4, 5]
reverse_list(yash)
print("Reversed list:", yash)

Reversed list: [5, 4, 3, 2, 1]

In [ ]:
yash = ["pwskills", "assignment", "python", "data structure", "advance"]
reverse_list(yash)
print("Reversed list:", yash)

Reversed list: ['advance', 'data structure', 'python', 'assignment', 'pwskills']

Q15  Implement a code to find and remove duplicates from a list while preserving the original order of
elements?

In [ ]:
def remove_duplicates(lst):
    seen = set()
    unique_list = []
    for item in lst:
        if item not in seen:
            unique_list.append(item)
            seen.add(item)
    return unique_list

In [ ]:
lucky = [1, 2, 3, 1, 2, 1, 3, 4, 5, 4, 2, 2]
result = remove_duplicates(lucky)
print("List after removing duplicates:", result)

List after removing duplicates: [1, 2, 3, 4, 5]

In [ ]:
yash = ["black", "mango", "raka", "black", "mango", "black", "raka", "white", "game", "game", "mango", "mango"]
result = remove_duplicates(yash)
print("List after removing duplicates:", result)

List after removing duplicates: ['black', 'mango', 'raka', 'white', 'game']

Q16  Create a code to check if a given list is sorted (either in ascending or descending order) or not ?

In [ ]:
def is_sorted(lst):
    ascending = all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))
    descending = all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1))
    return ascending or descending

In [ ]:
my_list1 = [1, 2, 3, 4, 5]
my_list2 = [5, 4, 3, 2, 1]
my_list3 = [1, 3, 2, 4, 5]

print("List 1 is sorted:", is_sorted(my_list1))
print("List 2 is sorted:", is_sorted(my_list2))
print("List 3 is sorted:", is_sorted(my_list3))

List 1 is sorted: True
List 2 is sorted: True
List 3 is sorted: False

In [ ]:
raka1 = [1.1, 2.2, 3.4, 4.5, 5.6]
raka2 = [5.5, 4.9, 3.8, 2.1, 1.9]
raka3 = [1.4, 3.7, 2.9, 4.6, 5.8]

print("List 1 is sorted:", is_sorted(raka1))
print("List 2 is sorted:", is_sorted(raka2))
print("List 3 is sorted:", is_sorted(raka3))

List 1 is sorted: True
List 2 is sorted: True
List 3 is sorted: False

Q17  Write a code to merge two sorted lists into a single sorted list ?

In [ ]:
def merge_sorted_lists(list1, list2):
    merged_list = []
    i, j = 0, 0

    # Traverse both lists and append smaller element to merged_list
    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1

    # Append remaining elements of list1, if any
    while i < len(list1):
        merged_list.append(list1[i])
        i += 1

    # Append remaining elements of list2, if any
    while j < len(list2):
        merged_list.append(list2[j])
        j += 1

    return merged_list

In [ ]:
yash = [1, 3, 5, 7]
raka = [2, 4, 6, 8]
result = merge_sorted_lists(yash, raka)
print("Merged sorted list:", result)

Merged sorted list: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
lucky = [1.1, 3.3, 5.5, 7.7]
babal = [2.2, 4.4, 6.6, 8.8]
result = merge_sorted_lists(lucky, babal)
print("Merged sorted list:", result)

Merged sorted list: [1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7, 8.8]

Q18  Implement a code to find the intersection of two given lists ?

In [ ]:
def find_intersection(list1, list2):
    # Convert lists to sets and find the intersection
    intersection = set(list1) & set(list2)
    # Convert the set back to a list
    return list(intersection)

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
result = find_intersection(list1, list2)
print("Intersection of the two lists:", result)

Intersection of the two lists: [3, 4, 5]

In [ ]:
raka = [ 3, 4, 5, 6, 7]
yash = [3, 4, 5, 6, 7]
result = find_intersection(raka, yash)
print("Intersection of the two lists:", result)

Intersection of the two lists: [3, 4, 5, 6, 7]

Q19  Create a code to find the union of two lists without duplicates ?

In [ ]:
def union_without_duplicates(list1, list2):
    # Convert both lists to sets and take the union
    result_set = set(list1).union(set(list2))
    # Convert the set back to a list
    result_list = list(result_set)
    return result_list

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
union_list = union_without_duplicates(list1, list2)
print("Union of the two lists without duplicates:", union_list)

Union of the two lists without duplicates: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
grocery_yash = ["potato", "milk", "chips", "oranges", "bread"]
grocery_lucky = ["oranges", "bread", "coca cola", "icecream", "red chili souce"]
union_list = union_without_duplicates(grocery_yash, grocery_lucky)
print("Union of the two lists without duplicates:", union_list)

Union of the two lists without duplicates: ['bread', 'oranges', 'potato', 'icecream', 'red chili souce', 'milk', 'chips', 'coca cola']

Q20  Write a code to shuffle a given list randomly without using any built-in shuffle functions ?

In [ ]:
import random

my_list = [1, 2, 3, 4, 5]

shuffled_list = sorted(my_list, key=lambda x: random.random())

print("Original list:", my_list)
print("Shuffled list:", shuffled_list)

Original list: [1, 2, 3, 4, 5]
Shuffled list: [4, 1, 5, 3, 2]

In [ ]:
import random

yash_grocery = ["bread", "milk", "oranges", "souce", "potato"]

shuffled_list = sorted(yash_grocery, key=lambda x: random.random())

print("Original list:", yash_grocery)
print("Shuffled list:", shuffled_list)

Original list: ['bread', 'milk', 'oranges', 'souce', 'potato']
Shuffled list: ['bread', 'milk', 'potato', 'oranges', 'souce']

Q21 Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples?

In [ ]:
def common_elements(tuple1, tuple2):
    # Convert tuples to sets to find common elements
    set1 = set(tuple1)
    set2 = set(tuple2)

    # Find common elements using set intersection
    common_set = set1 & set2

    # Convert the set back to a tuple
    return tuple(common_set)


tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
result = common_elements(tuple1, tuple2)
print(result)

(4, 5)

In [ ]:
def common_elements(tuple1, tuple2):
    # Convert tuples to sets to find common elements
    set1 = set(tuple1)
    set2 = set(tuple2)

    # Find common elements using set intersection
    common_set = set1 & set2

    # Convert the set back to a tuple
    return tuple(common_set)


playlist_1 = ("jai ho", "sanam re", "humsafar", "dil shairana", "dangal dangal")
playlist_2 = ("kal li baat purani", "jai ho", "humsafar", "yuhi kat jayega safar", "ye dil h ki maanta nhi")
result = common_elements(playlist_1, playlist_2)
print(result)

('humsafar', 'jai ho')

Q22  Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets ?

In [ ]:
str1 = input("Enter a first set of integers seprated by commas: ")
set1 = set(map(int,str1.split(',')))
str2 = input("Enter a second set of integers seprated by commas: ")
set2 = set(map(int,str2.split(',')))
intersection = set1.intersection(set2)
print(intersection)

Enter a first set of integers seprated by commas: 1, 2, 3
Enter a second set of integers seprated by commas: 2, 3, 4
{2, 3}

In [ ]:
str1 = input("Enter a first set of integers seprated by commas: ")
set1 = set(map(int,str1.split(',')))
str2 = input("Enter a second set of integers seprated by commas: ")
set2 = set(map(int,str2.split(',')))
intersection = set1.intersection(set2)
print(intersection)

Enter a first set of integers seprated by commas: 4,8,3
Enter a second set of integers seprated by commas: 9,4,8
{8, 4}

Q23  Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples?

In [ ]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print(result)

(1, 2, 3, 4, 5, 6)

In [ ]:
movies_1 = ("son of sardar", "chennai express", "himmatwala")
movies_2 = ("khatarnak khiladi 2", "welcome", "golmal")
result = concatenate_tuples(movies_1, movies_2)
print(result)

('son of sardar', 'chennai express', 'himmatwala', 'khatarnak khiladi 2', 'welcome', 'golmal')

Q24 Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set ?

In [ ]:
def get_set(prompt):
    return set(input(prompt).split())

# Get the first and second sets from the user
set1 = get_set("Enter the elements of the first set (separated by spaces): ")
set2 = get_set("Enter the elements of the second set (separated by spaces): ")

# Find the difference between the two sets
difference = set1 - set2

# Print the result
print("Elements present in the first set but not in the second set:")
for element in difference:
    print(element)

Enter the elements of the first set (separated by spaces): "yash",  "lucky", "naresh"
Enter the elements of the second set (separated by spaces): "ritesh", "harsh", "devraj"
Elements present in the first set but not in the second set:
"yash",
"naresh"
"lucky",

In [ ]:
def get_set(prompt):
    return set(input(prompt).split())

# Get the first and second sets from the user
set1 = get_set("Enter the elements of the first set (separated by spaces): ")
set2 = get_set("Enter the elements of the second set (separated by spaces): ")

# Find the difference between the two sets
difference = set1 - set2

# Print the result
print("Elements present in the first set but not in the second set:")
for element in difference:
    print(element)

Enter the elements of the first set (separated by spaces): tea sandwich bread
Enter the elements of the second set (separated by spaces): choclate chips coldrink
Elements present in the first set but not in the second set:
bread
tea
sandwich

Q25  Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices?

In [16]:
def extract_elements(tup, start, end):
    # Ensure the indices are within the bounds of the tuple
    if start < 0 or end > len(tup) or start > end:
        return "Invalid indices"

    # Extract the elements within the specified range
    return tup[start:end]

# Example
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
start_index = int(input("Enter the start index: "))
end_index = int(input("Enter the end index: "))

result = extract_elements(original_tuple, start_index, end_index)
print("New tuple:", result)

Enter the start index: 1
Enter the end index: 9
New tuple: (2, 3, 4, 5, 6, 7, 8, 9)

In [17]:
def extract_elements(tup, start, end):
    if start < 0 or end > len(tup) or start > end:
        return "Invalid indices"

    return tup[start:end]


original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
start_index = int(input("Enter the start index: "))
end_index = int(input("Enter the end index: "))

result = extract_elements(original_tuple, start_index, end_index)
print("New tuple:", result)

Enter the start index: 0
Enter the end index: -1
New tuple: Invalid indices

Q26 Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets?

In [18]:
# Prompt the user to input two sets of characters
set1 = set(input("Enter the first set of characters : "))
set2 = set(input("Enter the second set of characters : "))

# Calculate the union of the two sets
union_set = set1.union(set2)

# Print the union of the two sets
print("The union of the two sets is:", union_set)

Enter the first set of characters : yash
Enter the second set of characters : shakdwipee
The union of the two sets is: {'y', 'd', 'w', 'i', 'e', 'h', 'k', 's', 'a', 'p'}

In [19]:
# Prompt the user to input two sets of characters
set1 = set(input("Enter the first set of characters : "))
set2 = set(input("Enter the second set of characters : "))

# Calculate the union of the two sets
union_set = set1.union(set2)

# Print the union of the two sets
print("The union of the two sets is:", union_set)

Enter the first set of characters : abc
Enter the second set of characters : def
The union of the two sets is: {'f', 'd', 'e', 'c', 'a', 'b'}

Q27  Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking ?

In [ ]:
def find_max_min(values):
    if not values:
        return None, None  # Handle empty tuple case

    # Initialize max and min with the first element of the tuple
    max_val, min_val = values[0], values[0]

    for value in values[1:]:
        if value > max_val:
            max_val = value
        if value < min_val:
            min_val = value

    return max_val, min_val

numbers = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
max_value, min_value = find_max_min(numbers)
print(f"Maximum value: {max_value}, Minimum value: {min_value}")

Maximum value: 9, Minimum value: 1

In [ ]:
numbers = (98, 132, 434, 1211, 545, 329, 2543, 5336, 55, 6673, 3215)
max_value, min_value = find_max_min(numbers)
print(f"Maximum value: {max_value}, Minimum value: {min_value}")

Maximum value: 6673, Minimum value: 55

Q28  Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets ?

In [ ]:
# Define two sets of integers
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate union, intersection, and difference
union_set = set1 | set2
intersection_set = set1 & set2
difference_set = set1 - set2

# Print the results
print(f"Union: {union_set}")
print(f"Intersection: {intersection_set}")
print(f"Difference: {difference_set}")

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference: {1, 2, 3}

In [ ]:

section_1 = {"yash", "kunal", "lucky", "devraj", "naresh"}
section_2 = {"naresh", "devraj", "pooja", "richa", "harsh"}

union_set = section_1 | section_2
intersection_set = section_1 & section_2
difference_set = section_1 - section_2

print(f"Union: {union_set}")
print(f"Intersection: {intersection_set}")
print(f"Difference: {difference_set}")

Union: {'yash', 'kunal', 'devraj', 'pooja', 'naresh', 'richa', 'harsh', 'lucky'}
Intersection: {'devraj', 'naresh'}
Difference: {'yash', 'kunal', 'lucky'}

Q29  Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple ?

In [ ]:
def count_occurrences(tup, element):
    return tup.count(element)

# Example
numbers = (1, 2, 3, 2, 4, 2, 5, 2)
element_to_count = 2
count = count_occurrences(numbers, element_to_count)
print(f"The element {element_to_count} occurs {count} times in the tuple.")

The element 2 occurs 4 times in the tuple.

In [ ]:
students = ("yash", "yash", "harsh", "lucky", "yash", "devraj", "kunal", "yash")
element_to_count = "yash"
count = count_occurrences(students, element_to_count)
print(f"The element {element_to_count} occurs {count} times in the tuple.")

The element yash occurs 4 times in the tuple.

Q30 Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets?

In [ ]:
def get_set_from_input(prompt):
    return set(input(prompt).split())

# Prompt the user to input two sets of strings
set1 = get_set_from_input("Enter the first set of strings (separated by spaces): ")
set2 = get_set_from_input("Enter the second set of strings (separated by spaces): ")

# Calculate the symmetric difference
symmetric_difference_set = set1.symmetric_difference(set2)

# Print the results
print(f"Symmetric Difference: {symmetric_difference_set}")

Enter the first set of strings (separated by spaces): yash lucky naresh
Enter the second set of strings (separated by spaces): ritesh harsh devraj
Symmetric Difference: {'yash', 'ritesh', 'devraj', 'naresh', 'harsh', 'lucky'}

In [ ]:
def get_set_from_input(prompt):
    return set(input(prompt).split())

set1 = get_set_from_input("Enter the first set of strings (separated by spaces): ")
set2 = get_set_from_input("Enter the second set of strings (separated by spaces): ")

symmetric_difference_set = set1.symmetric_difference(set2)

print(f"Symmetric Difference: {symmetric_difference_set}")

Enter the first set of strings (separated by spaces):  ajay ajay ajay
Enter the second set of strings (separated by spaces): sir sir sir
Symmetric Difference: {'sir', 'ajay'}

Q31  Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list?

In [ ]:
def word_frequencies(word_list):
    frequency_dict = {}
    for word in word_list:
        if word in frequency_dict:
            frequency_dict[word] += 1
        else:
            frequency_dict[word] = 1
    return frequency_dict

# Example
words = ["apple", "banana", "apple", "orange", "banana", "apple"]
frequencies = word_frequencies(words)
print(frequencies)

{'apple': 3, 'banana': 2, 'orange': 1}

In [ ]:
students = ["yash", "naresh", "naresh", "yash", "kunal", "harsh"]
frequencies = word_frequencies(students)
print(frequencies)

{'yash': 2, 'naresh': 2, 'kunal': 1, 'harsh': 1}

Q32 Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together?

In [4]:
def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()  # Start with a copy of the first dictionary
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value  # Add values if key is common
        else:
            merged_dict[key] = value  # Add new key-value pair if key is not in merged_dict
    return merged_dict

# Example
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 5, 'c': 15, 'd': 25}
result = merge_dictionaries(dict1, dict2)
print(result)

{'a': 10, 'b': 25, 'c': 45, 'd': 25}

In [5]:
yash = {'height': 5.11, 'age': 23, 'palying_sports': "cricket/football"}
atul = {'height': 5.10, 'age': 28, 'profession': "doctor"}
result = merge_dictionaries(yash, atul)
print(result)

{'height': 10.21, 'age': 51, 'palying_sports': 'cricket/football', 'profession': 'doctor'}

Q33  Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None?

In [7]:
def get_nested_value(d, keys):
    """
    Access a value in a nested dictionary.

    Parameters:
    d (dict): The dictionary to search.
    keys (list): A list of keys to traverse the dictionary.

    Returns:
    The value corresponding to the nested keys, or None if any key is not found.
    """
    for key in keys:
        if isinstance(d, dict) and key in d:
            d = d[key]
        else:
            return None
    return d

# Example:
nested_dict = {'a': {'b': {'c': 'd'}}}
keys = ['a', 'b', 'c']
print(get_nested_value(nested_dict, keys))

d

In [8]:
keys = ['a', 'b', 'x']
print(get_nested_value(nested_dict, keys))

None

Q34 Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order ?

In [11]:
def sort_dict_by_values(d, ascending=True):
    """
    Sort a dictionary by its values.

    Parameters:
    d (dict): The dictionary to sort.
    ascending (bool): If True, sort in ascending order; if False, sort in descending order.

    Returns:
    dict: A new dictionary sorted by values.
    """
    sorted_dict = dict(sorted(d.items(), key=lambda item: item[1], reverse=not ascending))
    return sorted_dict

# Example:
sample_dict = {'apple': 5, 'banana': 2, 'orange': 8, 'grape': 1}

# Sort in ascending order
print(sort_dict_by_values(sample_dict, ascending=True))

# Sort in descending order
print(sort_dict_by_values(sample_dict, ascending=False))

{'grape': 1, 'banana': 2, 'apple': 5, 'orange': 8}
{'orange': 8, 'apple': 5, 'banana': 2, 'grape': 1}

In [12]:
birthdays = {'yash': 3, 'lucky': 1, 'naresh': 25, 'kunal': 29}

print(sort_dict_by_values(birthdays, ascending=True))
print(sort_dict_by_values(birthdays, ascending=False))

{'lucky': 1, 'yash': 3, 'naresh': 25, 'kunal': 29}
{'kunal': 29, 'naresh': 25, 'yash': 3, 'lucky': 1}

Q35  Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary ?

In [14]:
def invert_dict(d):
    """
    Invert a dictionary, swapping keys and values.
    If multiple keys have the same value, store the keys as a list.

    Parameters:
    d (dict): The dictionary to invert.

    Returns:
    dict: The inverted dictionary.
    """
    inverted_dict = {}
    for key, value in d.items():
        if value not in inverted_dict:
            inverted_dict[value] = [key]
        else:
            inverted_dict[value].append(key)
    return inverted_dict

# Example:
sample_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
print(invert_dict(sample_dict))

{1: ['a', 'c'], 2: ['b'], 3: ['d']}

In [15]:
rooms = {'lucky': 1, 'yash': 2, 'babal': 1, 'kunal': 3}
print(invert_dict(rooms))

{1: ['lucky', 'babal'], 2: ['yash'], 3: ['kunal']}